/* responsive pour ecran entre 500 & 900px */
header{
    display: block;
    background-color: wheat;
    height: 90vh;
    text-align: justify;
}
.logo{
    width: 100%;
}
.menu{
    display: block;
    width: 100%;
    text-align: center;
    position: static;
}
.nav{
    width: 100%;
}
header li{
    width: 100%;
}
.sousmenu{
    position: relative;
    text-align: center;
    margin: 0;
}
.sousmenu li{
    width: 100%;
    margin-left: -20px;
    background-color: transparent;
}
header li:hover{
    background: linear-gradient(wheat,blueviolet);
}
/* BANNIERE */
#banniere{
    padding-top: 60vh;
}
h1{
    padding-top: 100px;
    font-size: 2em;
}
.btn{
    font-size: 12px;
    padding: 5px;
}
/* SERVICE */
.services{
    display: block;
}
.service{
    width: 90%;
    margin-bottom: 30px;
}
/* SERVICE 3 */
.service3{
    display: block;
}
.service3 .gauche,
.service3 .droite{
    width: 90%;
}
/* BLOG */
.blog{
    display: block;
}
.article{
    width: 90%;
    margin-bottom: 30px;
}